.new-tab-unified-wrapper {
    background-color: #131313;
    border: 1.5px solid #ffffff1c;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.new-tab-search-container {
    position: relative;
}

.new-tab-search-container > i.fa-magnifying-glass {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #818181;
    font-size: 14px;
    pointer-events: none;
}

.new-tab-unified-wrapper.has-results .new-tab-search-container {
    border-bottom: 1px solid #ffffff1c !important;
}

.new-tab-popup input {
    width: 100% !important;
    max-width: 100% !important;
    padding: 13px 13px 13px 40px !important;
    background-color: #131313 !important;
    border-radius: 0 !important;
    font-size: 14px !important;
    border: 2px solid #ffffff00 !important;
    color: #b9b9b9 !important;
    outline: none !important;
    margin: 0 !important;
    box-sizing: border-box;
}

.new-tab-popup input::placeholder {
    color: #818181 !important;
}

.new-tab-results-container {
    max-height: 300px;
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
}

.new-tab-results-container::-webkit-scrollbar {
    height: 6px;
}

.new-tab-result-item {
    padding: 14px 9px;
    cursor: pointer;
    color: #b1b1b1;
    font-size: 14px;
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
}

.new-tab-result-item i {
    width: 20px;
    text-align: center;
    color: #b1b1b1;
    font-size: 14px;
}

.new-tab-result-item:hover {
    color: #eee;
    background-color: #ffffff1a;
}