.notifications-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 999999;
  justify-content: center;
  align-items: center;
}

.notifications-menu.open {
  display: flex;
  pointer-events: auto;
}

.notifications-menu-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px 30px 25px 40px;
  width: 450px;
  max-height: 80vh;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  background-color: #080808; 
  border-radius: 20px; 
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
}

.notifications-menu-content.open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  animation: fadeIn 0.1s forwards;
}

.notifications-menu-content.close {
  animation: fadeOut 0.1s forwards;
}

.notifications-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -12px;
  margin-top: -5px;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.notifications-menu-header h2 {
  color: #e0e0e0;
  font-size: 20px;
  margin: 0;
  font-weight: lighter;
}

#mark-all-read-btn {
    background: #1f1f1f;
    border: none;
    color: #adadad;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
    padding: 6px 10px;
    margin-right: 230px;
    border-radius: 9px;
    transition: all 0.1s ease;
}

#mark-all-read-btn:hover {
    color: #ffffff;
    background-color: #333333;
}

#close-notifications-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #131313;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #888888;
    cursor: pointer;
    z-index: 1000;
    outline: none;
    display: inline-flex;
    transition: all 0.1s ease;
}

#close-notifications-menu:hover {
    color: #ffffff;
    transform: scale(1.1);
}

#close-notifications-menu i {
    font-size: 11.5px;
    line-height: 0;
}

.notifications-list-container {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
  margin-left: -12px;
  width: 100%;
}

.notifications-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.notification-item {
    border: 1px solid #1f1f1f80;
    border-radius: 15px;
    padding: 12px 15px;
    padding-bottom: 30px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    position: relative;
    transition: all 0.1s ease;
    cursor: pointer; 
    overflow: hidden;
}

.notification-item.unread {
    border: 1px solid #ffffff40;
}

.notification-item:hover {
    background-color: #131313;
}

.notification-item-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    gap: 10px;
}

.notification-content {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.notification-title {
    font-size: 20px;
    font-weight: 300;
    color: #e0e0e0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-type {
    font-size: 12px;
    margin-right: -4px;
    padding: 0;
    border-radius: 0;
    flex-shrink: 0;
    letter-spacing: 0;
    opacity: 1;
    order: 1;
    background: none;
    font-weight: 500;
    color: #666666;
}

.type-new-feature {
    --dot-color: #2bff00;
}
.type-update {
    --dot-color: #ffc107;
}
.type-announcement {
    --dot-color: #1757b8;
}
.type-bug-fix {
    --dot-color: #dc3545;
}

.notification-type::before {
    content: '•';
    color: var(--dot-color);
    font-size: 20px;
    margin-right: 5px;
    vertical-align: -3px;
}

.notification-date {
    font-size: 10px;
    color: #666666;
    position: absolute;
    bottom: 8px; 
    left: 15px;
    z-index: 1;
}

.icon-btn i.has-new-notifications {
    position: relative;
}

.icon-btn i.has-new-notifications::after {
    content: attr(data-count);
    position: absolute;
    top: -13px;
    right: -13px;
    min-width: 14px;
    height: 14px;
    background-color: #df0000;
    border-radius: 10px;
    color: #ffffff;
    font-size: 9px;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 3px;
    box-sizing: border-box;
    z-index: 10;
    line-height: 1;
}

.notification-chevron {
    color: #888888;
    font-size: 14px;
    transition: transform 0.1s ease;
    flex-shrink: 0;
    line-height: 1; 
    order: 2;
}

.notification-item.expanded .notification-chevron {
    transform: rotate(180deg);
}

.notification-item-message-summary {
    font-size: 13px;
    color: #777777;
    margin: 0 0 5px 0;
    line-height: 1.4;
    padding-right: 30px;
    margin-bottom: 5px;
}

.notification-details {
    width: 100%;
    padding: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
}

.notification-item.expanded .notification-details {
    max-height: 300px;
    opacity: 1;
    padding-top: 10px;
}

.notification-changes-list {
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0;
    color: #777777;
    font-size: 12px;
}

.notification-changes-list li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 10px;
    line-height: 1.5;
}

.notification-changes-list li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: #ffffff;
}